* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "open sans", system-ui, sans-serif;
}
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.2dvw 1dvw;
  border-bottom: 0.1dvw solid rgb(208, 206, 206);
}
.navbar .logo-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2dvw;
}
.navbar .logo-options .logo h1 {
  color: #32a46f;
  font-size: 1.35dvw;
}
.navbar .logo-options .options {
  display: flex;
  flex-direction: row;
  gap: 1.9dvw;
}
.navbar .logo-options .options a {
  text-decoration: none;
  color: gray;
  font-size: 0.95dvw;
  font-weight: 700;
  border-radius: 0.8dvw;
  padding: 0.7dvw 1dvw;
  transition: background 0.3s ease;
}
.navbar .logo-options .options a:hover {
  color: white;
  background-color: #32a46f;
}
.navbar .login-signin {
  display: flex;
  flex-direction: row;
  gap: 1dvw;
}
.navbar .login-signin .login {
  border: none;
  outline: none;
  background-color: #32a46f;
  padding: 0.7dvw 1.2dvw;
  border-radius: 0.8dvw;
  color: white;
  font-weight: 700;
}
.navbar .login-signin .create {
  background-color: #32a46f;
  border: 0.1dvw solid #1f985f;
  padding: 0.7dvw 1dvw;
  color: white;
  font-weight: 700;
  border-radius: 0.8dvw;
}

/* ///////////////////////////Main page/////////////////// */
.stock-alert {
  display: flex;
  flex-direction: column;
  padding: 7dvw 1dvw;
}
.stock-alert .date {
  font-size: 1dvw;
  font-weight: 500;
  color: gray;
}
.stock-alert div {
  display: flex;
  flex-direction: column;
  gap: 1.4dvw;
}
.stock-alert div h1 {
  font-size: 3.35dvw;
}
.stock-alert div h1 .nasdaq {
  color: gray;
}
.stock-alert div h1 .nasdaq .cvkd {
  color: #1f985f;
}
.stock-alert .desc {
  color: rgb(107, 107, 107);
  font-size: 1.27dvw;
  padding-right: 42dvw;
  line-height: 2dvw;
}
.stock-alert div button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 10dvw;
  padding: 0.9dvw;
  outline: none;
  border: none;
  gap: 1dvw;
  color: rgb(59, 58, 58);
  font-weight: 600;
}

/* ////////////////////////////LATEST NEWS////////////// */
.bottom {
  padding: 0 1dvw;
}
.latest-news {
  width: 23.1%;
  border: 0.1dvw solid rgb(32, 32, 32);
  padding: 1.5dvw;
}
.latest-news h1 {
  font-size: 1.4dvw;
}
.latest-news div {
  padding: 1dvw;
}
.latest-news div .one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.latest-news div .one p {
  font-size: 0.9dvw;
  font-weight: 600;
  background-color: rgb(235, 232, 232);
  padding: 0.3dvw 0.5dvw;
  color: rgb(38, 37, 37);
  cursor: pointer;
}
.latest-news div .desc {
  font-size: 1dvw;
  font-weight: 500;
  line-height: 1.7dvw;
}
.latest-news div .desc:hover {
  color: #1f985f;
  background-color: rgb(241, 240, 240);
  cursor: pointer;
}
.latest-news div div {
  display: flex;
  flex-direction: row;
  gap: 0.5dvw;
  font-size: 0.9dvw;
  align-items: center;
  color: gray;
}
.latest-news div div p {
  font-size: 0.9dvw;
}

.stock-information {
  width: 23.1%;
  border: 0.1dvw solid rgb(32, 32, 32);
}
/* //////////////////////////// Brokerage Section ////////////////////////////// */
.brokerage-sec {
  margin-top: 2.917dvw;
  text-align: center;
}
.brokerage-sec h2 {
  font-size: 2.326dvw;
  line-height: 2.8dvw;
  color: #1f2f2e;
  font-weight: 700;
}
.brokerage-links {
  margin: 1dvw 16dvw;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1.25dvw;
  justify-content: center;
  align-items: center;
}
.brokerage-links a {
  font-size: 0.8dvw;
  line-height: 1.25dvw;
  font-weight: 700;
  text-decoration: none;
}
.brokerage-links a:nth-child(1) {
  color: #22c55e;
}
.brokerage-links a:nth-child(2) {
  color: #9333ea;
}
.brokerage-links a:nth-child(3) {
  color: #ef4444;
}
.brokerage-links a:nth-child(4) {
  color: #3b82f6;
}
.brokerage-links a:nth-child(5) {
  color: #1f242e;
}
.brokerage-links a:nth-child(6) {
  color: #15803d;
}
.brokerage-links a:nth-child(7) {
  color: #dc2626;
}
.brokerage-links a:nth-child(8) {
  color: #2563eb;
}
@media (max-width: 1024px) {
    /* //////////////////////////// Brokerage Section ////////////////////////////// */
  .brokerage-links {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .brokerage-sec h2 {
    font-size: 2.96dvw;
    line-height: 3.2dvw;
  }
  .brokerage-links {
    margin: 2.2dvw auto;
    gap: 2dvw;
  }
  .brokerage-links a {
  font-size: 1.48dvw;
  }
}
